*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}


body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

img {
  display: block;
}


.main-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
  height: 73px;
  border-bottom: 1px solid #e5e9f2;
}

.header-container {
  display: flex;
  width: 1110px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.nav {
  align-items: center;
  gap: 32px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
  color: #18191f;
  display: flex;
}

.nav-link {
  transition: color 0.2s;
  color: #18191f;
  text-decoration: none;
}

.nav-link:hover {
  color: #8c30f5;
}

.app-store {
  display: flex;
  gap: 12px;
  margin-left: auto;
}

.main {}

.main-container {
  padding: 197px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1110px;
  margin: 0 auto;
}

.main-header {
  color: #18191F;
  margin: 0;
  line-height: 1.36;
  font-weight: 800;
  font-size: 72px;
}

.main-content p {
  margin: 16px 0 32px 0;
  font-size: 18px;
  line-height: 1.78;
}


.btn {
  font-weight: 700;
  font-style: 20px;
  padding: 0 35px;
  line-height: 62px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  background-color: #8c30f5;
  border-radius: 8px;
  height: 62px;

}

.main-img img {
  width: 524px;
}

.btn:hover {
  opacity: 0.8;
}

.footer {
  height: 72px;
  display: flex;
  align-items: center;
  color: #fff;
  background: #0B0D17;
}

.footer-container {
  display: flex;
  width: 1110px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.footer-copiright {
  color: #D9DBE1;
  font-size: 14px;
}


.footer-socials {
  display: flex;
  gap: 16px;

}